<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCrIo1m-ZBL2TOwF6Pl9jzPSJixq-3ciCc</string>
	<key>GCM_SENDER_ID</key>
	<string>951740327092</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ost</string>
	<key>PROJECT_ID</key>
	<string>projeto-ost</string>
	<key>STORAGE_BUCKET</key>
	<string>projeto-ost.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:951740327092:ios:387bf244ab8f6f1568e3e1</string>
</dict>
</plist>